.success-message {
    text-align: center;
    padding-bottom: 50px;

    img {
        height: 250px;
    }

    .bag-icon {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 30px;
        color: var(--color-1);
        max-width: 550px;
        margin: 0 auto;
    }

    a {
        display: inline-block;
        background-color: var(--color-4);
        border: 1px solid var(--color-4);
        color: var(--color-2);
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s;
        padding: 10px 30px;
        text-transform: uppercase;
        margin-top: 30px;

        &:hover {
            background-color: var(--color-6);
        }
    }
}