.form-detail {
    max-width: 500px;
    margin: 0 auto;

    .input-field {
        margin-bottom: 20px;
    }

    input,
    textarea {
        height: 50px;
        width: 100%;
        font-size: 16px;
        color: var(--color1);
        padding: 10px;
        background-color: var(--color2);
        border: 1px solid #d2d1d1;
    }

    textarea {
        height: 100px;
        overflow-x: hidden;
    }

    .error {
        font-size: 14px;
        color: red;
    }

    .submit {
        display: block;
        background-color: var(--color-4);
        border: 1px solid var(--color-4);
        color: var(--color-2);
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-transform: uppercase;

        &:hover {
            background-color: var(--color-6);
        }
    }
}