.form-detail {
    max-width: 500px;
    margin: 0 auto;

    .input-field {
        margin-bottom: 20px;
    }

    input,
    textarea {
        height: 40px;
        width: 100%;
        font-size: 16px;
        color: var(--color1);
        padding: 10px;
    }

    textarea {
        height: 100px;
        overflow-x: hidden;
    }

    .error {
        font-size: 14px;
        color: red;
    }
}