.product-deatils {
    display: flex;
    align-items: flex-start;
    cursor: default;
    margin-bottom: 50px;

    figure,
    .p-info {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .p-info {
        padding-left: 40px;
    }

    
    figure {
        height: 300px !important;
        width: 100%;
        box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            padding: 30px;
        }
    }

    h2 {
        font-size: 22px;
        font-weight: 500;
        color: var(--color-1);
        display: block;
        overflow: inherit;
        height: auto;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-4);
    }

    .ratings {
        display: flex;
        align-items: center;

        span {
            margin-left: 5px;
            font-size: 16px;
            font-weight: 600;
            color: var(--color-1);
            opacity: 0.5;
        }
    }

    button {
        display: inline-block;
        background-color: var(--color-4);
        border: 1px solid var(--color-4);
        color: var(--color-2);
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        text-transform: uppercase;
        margin-top: 20px;

        &:hover {
            background-color: var(--color-6);
        }
    }
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

@media(max-width: 767px) {
    .product-deatils {
        margin-bottom: 50px;
    
        figure,
        .p-info {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .p-info {
           padding: 20px 0 0;
        }
    }
}