.app-header {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    background-color: var(--color2);
    padding: 15px 0;
    position: relative;
    
    .container {
        position: relative;
    }

    h1 {
        font-size: 20px;
        margin: 0;
        a {
            font-size: 24px;
            color: var(--color1);
            text-decoration: none;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            padding: 0 10px;
            position: relative;

            a {
                font-size: 16px;
                color: var(--color1);
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    color: var(--color-4);
                }
            }
        }
    }

    .icon-list {
        li {
            :last-child {
                padding-right: 0;
            }

            svg {
                font-size: 26px;
            }
        }
    }

    .menu-wrap,
    .header-wrapper {
        display: flex;
        align-items: center;
    }

    .header-wrapper { 
        justify-content: space-between;
    }

    .badge {
        height: 15px;
        width: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: red;
        font-size: 10px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        right: 5px;
    }

    .search-icon-li {
        display: none;
    }
}

.cross-icon {
    fill: none; stroke: rgb(0, 0, 0); 
    stroke-linecap: round; 
    stroke-linejoin: round; 
    stroke-width: 2;
}

@media(max-width: 600px) {
    .app-header {
        ul {
            li {
                padding: 0 5px;

                a {
                    font-size: 14px;
                }
            }
        }

        .search-icon-li {
            display: inline-block;
        }
    }
}