.cart-products {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    figure {
        height: 200px;
        width: 200px;
        padding: 5px;
        background-color: var(--color-2);

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-1);
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        line-height: 1.4;
        margin-bottom: 10px;
        height: calc(1.4 * 1em);
        overflow: hidden;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-4);
    }

    h6 {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-4);
        text-transform: capitalize;
        display: inline-block;
    }

    .ratings {
        display: flex;
        align-items: center;

        span {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
            color: var(--color-1);
            opacity: 0.5;
        }
    }

    .p-info {
        flex: 1;
    }

    .delete-icon {
        background-color: var(--color-2);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: -10px;
        border: 1px solid var(--color-2);
        box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 40px;
            width: 40px;
        }
    }

}

.p-link {
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    display: block;
    padding: 20px;
    text-decoration: none;  
    margin-bottom: 30px;
}

.product-quantity {
    margin-top: 15px;

    button {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: var(--color-4);
        border: 1px solid var(--color-4);
        color: var(--color-2);
        transition: all 0.3s;

        &:hover {
            background-color: var(--color-6);
        }
    }

    input {
        width: 40px;
        text-align: center;
        border: 1px solid transparent;
        font-size: 20px;
        font-weight: 500;
    }
}

@media(max-width: 767px) {
    .cart-products { 
        justify-content: center;

        figure,
        .p-info {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media(max-width: 576px) {
    .cart-products { 
        .products {
            figure {
                height: 150px !important;
                width: 150px !important;
            }
        } 

        h2 {
            display: block;
            height: auto;
        }
    }
}